/* Colours:
	#050404
	#893168
	#EAEAEA
	#4A1942
	#2E1C2B
*/

/* Mobile */
html, body{
	font-family: "Georgia", serif;
	padding: 0;
	margin: 0;
}

h2{
	text-align: center;
	background-color: #2E1C2B;
	color: #EAEAEA;
	padding: 25px;
}
h3{
	text-align: center;
}

#about{
	padding: 1% 0;
	width: 100%;
	height: auto;
	text-align: center;
	background-color: #2E1C2B;
	color: #EAEAEA;
	text-shadow: 2px 2px black;
}
#skills > ul > li{
	text-decoration: none;
	list-style: none;
}

#buttons{
	margin: 0 auto;
	text-align: center;
}
.btn{
	text-decoration: underline;
	border: none;
	background-color: white;
	font-size: 1.2em;
}




#gallery{
	display: flex;
	width: 60%;
	margin: 0 auto;
}
.project{
	position: relative;
	overflow: hidden;
	height: auto;
	width: 100%;
}
.project-image{
	line-height: 0;
	flex: calc(100% - 6px);
}
.project-image img{
	filter: blur(0px);
	transition: filter 0.3s ease-in;
	height: auto;
	width: 100%;
}
.project-title{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(97, 49, 94, 0.4);
	z-index: 1;
	
	color: white;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	opacity: 0;
	transition: opacity .5s;
}
.project:hover .project-title{
	opacity: 1;
}



/* Tablet */


/* Desktop */
@media screen and (min-width: 768px) {
	#about{
		width: 100%;
		height: auto;
		margin: 0 0 1% 0;
	}
	#gallery{
	}
}




