---
layout: default
title: Piloga Website | Kaitlyn Meyers
---

<!DOCTYPE html>
<html>
	<script>
		{% include nav.js %}
	</script>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="{{site.url}}/css/project.css">
		<link rel="stylesheet" type="text/css" href="{{site.url}}/css/navbar.css">
		<link rel="stylesheet" type="text/css" href="{{site.url}}/css/footer.css">
	</head>
	<body>
		{% include navigation.html %}
		<h2>Piloga Website</h2>
		
		<iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/BJq9LgIyl-I" 
		frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
		allowfullscreen></iframe>
		
		<div id="description">
			<p>This is an informational website that my classmate and I made for our Web Design 
			and Development teacher.</p>
			
			<h3>My Responsibilites:</h3>
			<ul>
				<li>creating the overall layout</li>
				<li>made the about and resource pages</li>
				<li>did the HTML and CSS for the Home page</li>
			</ul>
		</div>
		
		{% include footer.html %}
	</body>	
</html>