---
layout: default
title: Home | Kaitlyn Meyers
---

<!DOCTYPE html>
<html>
	<script>
		{% include nav.js %}	
	</script>
	<script src="{{site.url}}/javascript/gallery.js"></script>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="{{site.url}}/css/home.css">
		<link rel="stylesheet" type="text/css" href="{{site.url}}/css/navbar.css">
		<link rel="stylesheet" type="text/css" href="{{site.url}}/css/footer.css">
	</head>
	<body>
		{% include navigation.html %}
		<div id="blanket"></div>
		<div id="about">
			<h1>Hi, I'm Kaitlyn!</h1>
			<p>I'm a programmer and artist who is currently studying Computing Science</p>
		</div>
		<div id="skills">
			<h2>Skills</h2>
			<ul>
				<li>C#</li>
				<div class="container">
					<div class="skills c-sharp">50%</div>
				</div>
				<li>Python</li>
				<div class="container">
					<div class="skills python">50%</div>
				</div>
				<li>Java</li>
				<div class="container">
					<div class="skills java">70%</div>
				</div>
				<li>C++</li>
				<div class="container">
					<div class="skills cplusplus">40%</div>
				</div>
				<li>HTML</li>
				<div class="container">
					<div class="skills html">85%</div>
				</div>
				<li>CSS</li>
				<div class="container">
					<div class="skills css">85%</div>
				</div>
				<li>Javascript</li>
				<div class="container">
					<div class="skills javascript">70%</div>
				</div>
			<ul>
		</div>
		<div id="coding">
			<h2>Coding Projects</h2>
			<div id="buttons">
				<button class="btn" onclick="All()">All</button>
				<button class="btn" onclick="Game()">Game</button>
				<button class="btn" onclick="Web()">Web</button>
				<button class="btn" onclick="App()">App</button>
			</div>
			<div id="gallery">
				<div class="project app">
					<a class="project-title" href="{{site.baseurl}}/projects/positive_memory_app.html">Positive Memory App</a>
					<div class="project-image">
						<img src="{{site.baseurl}}/images/positive_memory_app.png">
					</div>
				</div>
				<div class="project web">
					<a class="project-title" href="{{site.baseurl}}/projects/piloga_website.html">Piloga Website</a>
					<div class="project-image">
							<img src="{{site.baseurl}}/images/piloga_website.png">
					</div>
				</div>
			</div>
		</div>
		<div id="blanket">
		</div>
		{% include footer.html %}
	</body>
</html>